body {
    font-family: 'Segoe UI', sans-serif;
    background: #fff0f3;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    width: 80px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 36px;
    color: #ff5e78;
    margin-bottom: 30px;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
  }

@media screen and (min-width: 320px) and (max-width: 480px) {
    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
  
  .card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 25px 20px;
    box-shadow: 0 8px 20px rgba(255, 94, 120, 0.15);
    transition: 0.3s ease;
    text-align: left;
  }
  
  .card:hover {
    transform: translateY(-5px);
    background: linear-gradient(to bottom right, #ffd6e0, #ffe9ec);
  }
  
  .card h2 {
    font-size: 18px;
    color: #e63956;
    margin-bottom: 15px;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  .card ul li {
    margin-bottom: 8px;
    color: #555;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5e78;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #434bdb;
  }